exportPattern("^[[:alpha:]]+")

importFrom(bio3d, read.pdb, pdbseq)
importFrom(rlog, log_info)
importFrom(dplyr, intersect, "%>%")
importFrom(comprehenr, to_list)
importFrom(RColorBrewer, brewer.pal)
importFrom(scales, col_bin)
importFrom(NGLVieweR, stageParameters,
           addRepresentation,
           setQuality)
importFrom("grDevices", "colorRamp")
